.sidebar div.menu div#manager ul li a.nav-link{
    padding: .5rem 1rem;
}
.sidebar div.menu div#manager ul li a.nav-link.active{
    background: rgba(163, 163, 163, 0.25);

}
.sidebar div.menu ul li a.nav-link,.sidebar div.menu button{
    padding: .5rem 2px;
    text-align: start;
    width: 100%;
    color: rgb(148, 148, 148);
    font-size: .95rem;
}

.sidebar div.menu button span{
    display: flex;
    justify-content: space-between;
    font-size: .95rem;
}
.sidebar div.menu button.collapsed i{
    transform: rotate(90deg);
}
.sidebar div.menu ul li a.nav-link.active{
    background: rgba(163, 163, 163, 0.25);
    box-shadow: inset 0  0 7px;
}
.sidebar__icon{
    position: fixed;
    /* box-shadow: 0 8px 5px -6px rgb(102, 102, 102); */
    z-index: 2;
    padding: .5rem 1rem !important;
    background: #ffffffe7;

}


