a{
    text-decoration: none;
}
div.card-container{
    padding:1rem;
    padding-top: 0;
}
ul.joboffer__menu{
    padding: 1rem;
    /* background: rgb(3, 42, 54); */
}
ul.joboffer__menu li a{
    color: rgb(145, 145, 145);
}
ul.joboffer__menu li a.active{
    box-shadow: 0 10px 10px -6px rgb(0, 0, 0);
    border: 1px solid rgba(163, 163, 163, 0.76);
    padding: 5px;
    color: rgb(0, 0, 0);
}
div.card{
    box-shadow: 0 12px 15px -10px rgb(0, 0, 0);
    border-radius: 5px;
    /* background: #000; */
}
div.card div.card-body{
    padding :5px;
    color: rgb(150, 150, 150);
    font-size: .9rem;
    /* font-weight: 500; */
}
div div.interview div.card-body,div.job__offer div.card-body{
    height: 100px;
    overflow: auto;
}
div.choosen div.card{
    box-shadow: 0 8px 5px -6px rgba(96, 255, 96, 0.808);
    background: rgb(202, 255, 207);
}
div.choosen div.card-body{
    color: rgb(104, 104, 104);
    font-weight: 500;
}
div.card__choosen{
    background: rgb(85, 212, 170);
}
div.card__choosen div.card-body{
    color: rgb(87, 87, 87);
}
div.card__finished{
    background: rgb(143, 255, 109) !important;
}
div.card__finished div.card-body{
    color: rgb(87, 87, 87);
}

div.card div.job__offer{
    height: 100px;
    overflow-y: auto;
}
div.card-container div.card div.card-heading{
    padding:5px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    border-bottom: 1px solid rgb(201, 201, 201);
    font-size: .9rem;
    font-weight: 500;
    white-space: nowrap;
}
div.card-container div.card div.card-heading button{
    padding: 3px;
    white-space: nowrap;
    font-size: .9rem;
    border-radius: 0;
    font-weight: 500;
}
div.btn-group button{
    border-radius: 0;
}
div.card div.card-footer{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: .9rem;
}
div.card div.card-footer button{
    font-weight: 500;
    padding: 5px;
    border: none;
}
div.menu_bar{
    padding: 0;
}
div.menu_bar button,div.menu_bar span{
    border: none;
    background: none;
    color: rgb(138, 138, 138);
    font-size: smaller;
    font-weight: 700;
    padding: 0 5px
}
div.menu_bar button .exp{
    color: #000;
}
div.menu_bar button .age{
    color: rgb(146, 0, 0);
}
div.nav-bar div.menu_bar{
    white-space: nowrap;
}