div.dashboard div.dash-main::-webkit-scrollbar{
    display: none;
}
div.dashboard div.dash-main{
    overflow-y: auto ;
    /* background: rgb(15, 20, 24); */
}
div.dashboard aside.bOQEtf{
    position: sticky;
    overflow-y: auto;
    top: 0;
    border-right: none;

}
div.dashboard aside.eyZRyX{
    border: none;
}
.sidebarCollapseButton{
    position: fixed;
    top: 9px;
    left: 10px;
    border: none;
    padding-right: 8px;
}
