html,body.body,div.main{
  /* height: 100%; */
  /* background: rgb(111, 142, 168); */
}
a{
  text-decoration: none;
}

@media screen and (max-width:768px){
  
}
footer{
  position: fixed;
  bottom: 0;
  background-color: rgb(5, 47, 54);
  width: 100%;
  z-index: 4;
  height: 50px;
  color: white;
}
