html,body.body,div.main{
  height: 100%;
}
a{
  text-decoration: none;
}
.main{
  background-color: rgb(131, 131, 131);
  position: relative;
  /* min-height: 100%;  */
}
@media screen and (max-width:768px){
  
}
footer{
  position: fixed;
  bottom: 0;
  background-color: rgb(29, 57, 99);
  width: 100%;
  z-index: 4;
  height: 50px;
  color: white;
}
